[user]
	email = raphaele.salvatore@outlook.de
  username = RaphaeleL 
	name = raphaele
[github]
  user = RaphaeleL 
  token = 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
[color]
	ui = auto
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = false
[init]
	defaultBranch = main
